<section class="section advantages">
  <div class="container">
    <h2 class="visually-hidden" aria-label="Advantages">Advantages</h2>
    <ul class="list advantages-list">
      <li class="advantages-list__item item__milk">
        <p class="advantages-list__text">
          <span class="advantages-list__point">721</span>
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages-list__item item-apple">
        <p class="advantages-list__text">
          <span class="advantages-list__point">16kg</span>
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages-list__item item-candy">
        <p class="advantages-list__text">
          <span class="advantages-list__point">84</span>
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
