<section id="contacts" class="contacts contacts-section">
  <div class="container">
    <h2 class="contacts-title visually-hidden">Contacts</h2>
    <ul class="list contacts-list">
      <li class="contacts-item">
        <p class="contact-category">CAFE</p>
        <h3 class="contacts-city-name">Chicago</h3>
        <p class="contacts-descriptions">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <ul class="list contacts-schedule-list">
          <li class="contacts-schedule-item">
            <p class="shedule-work-days">Monday - Friday</p>
            <p class="shedule-work-hours">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contacts-schedule-item">
            <p class="shedule-work-days">Saturday - Sunday</p>
            <p class="shedule-work-hours">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="list contacts-connect-list">
          <li class="contacts-connect-item">
            <a class="link contacts-link-email" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
          <li class="contacts-connect-item">
            <a class="link contacts-link-tel" href="tel:+610383766284">+61(0) 383 766 284</a>
          </li>
        </ul>
      </li>
      <li class="contacts-item">
        <p class="contact-category contact-foodtruck">FOODTRUCK</p>
        <div class="contacts-cities">
          <h3 class="contacts-city-name">Los Angeles</h3>
          <p class="contacts-descriptions">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <ul class="list contacts-schedule-list">
          <li class="contacts-schedule-item">
            <p class="shedule-work-days">Monday - Friday</p>
            <p class="shedule-work-hours">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contacts-schedule-item">
            <p class="shedule-work-days">Saturday - Sunday</p>
            <p class="shedule-work-hours">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="list contacts-connect-list">
          <li class="contacts-connect-item">
            <a class="link contacts-link-email" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
          <li class="contacts-connect-item">
            <a class="link contacts-link-tel" href="tel:+610383766284">+61(0) 383 766 284</a>
          </li>
        </ul>
      </li>
      <li class="contacts-item">
        <p class="contact-category">CAFE</p>
        <div class="contacts-cities">
          <h3 class="contacts-city-name">New York</h3>
          <p class="contacts-descriptions">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <ul class="list contacts-schedule-list">
          <li class="contacts-schedule-item">
            <p class="shedule-work-days">Monday - Friday</p>
            <p class="shedule-work-hours">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contacts-schedule-item">
            <p class="shedule-work-days">Saturday - Sunday</p>
            <p class="shedule-work-hours">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="list contacts-connect-list">
          <li class="contacts-connect-item">
            <a class="link contacts-link-email" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
          <li class="contacts-connect-item">
            <a class="link contacts-link-tel" href="tel:+610383766284">+61(0) 383 766 284</a>
          </li>
        </ul>
      </li>
    </ul>
    <ul class="list contact-btn-list">
      <li class="contact-btn-item">
        <button
          type="button"
          class="location-btn"
          aria-label="Open location"
          data-modal-location-open
        >
          Our Locations<svg class="location-vector" width="6" height="10">
            <path
              d="m1 1 3.61 4L1 9"
              stroke="#fff"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <use href="../src/images/icons.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>
      <li class="contact-btn-item">
        <button
          type="button"
          class="franchise-btn button"
          aria-label="Open Franchise Form"
          data-modal-open3
        >
          Franchise<svg class="franchise-vector" width="6" height="10">
            <use href="../src/images/icons.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
