<footer class="section footer">
  <div class="container">
    <div class="footer__box">
      <p class="footer__name">
        homemade ice cream made<span class="footer__name-bottom">with passion</span>
      </p>
      <div class="footer__nav">
        <ul class="footer__social-list list">
          <li class="footer__social-item">
            <a
              href="https://github.com/"
              target="blank"
              rel="noopener noreferrer"
              class="footer__social-link link"
              aria-label="GitHub"
            >
              <svg class="footer__social-icon" width="18">
                <use href="images/icons.svg#icon-github"></use>
              </svg>
            </a>
          </li>
          <li class="footer__social-item">
            <a
              href="https://web.telegram.org/"
              target="blank"
              rel="noopener noreferrer"
              class="footer__social-link link"
              aria-label="Telegram"
            >
              <svg class="footer__social-icon" width="18">
                <use href="images/icons.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
          <li class="footer__social-item">
            <a
              href="https://www.facebook.com"
              target="blank"
              rel="noopener noreferrer"
              class="footer__social-link link"
              aria-label="Facebook"
            >
              <svg class="footer__social-icon" width="9">
                <use href="images/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
        <div class="footer-phone">
          <p class="footer__phone-text">Feel free to contact</p>
          <a href="tel:+610383766284" class="footer__phone link">+61(0) 383 766 284</a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__line"></div>
  <div class="bottom__container container">
    <p class="footer__bottom-text">© 2022 - IceCream. All Rights Reserved.</p>
  </div>
</footer>
