<section class="section gallery">
  <h2 class="section-title visually-hidden" aria-label="Gallery">Gallery</h2>
  <img
    class="gallery__image"
    srcset="
      ./images/gallery/gallery-320.jpg   320w,
      ./images/gallery/gallery-640.jpg   640w,
      ./images/gallery/gallery-960.jpg   960w,
      ./images/gallery/gallery-768.jpg   768w,
      ./images/gallery/gallery-1280.jpg 1280w,
      ./images/gallery/gallery-1536.jpg 1536w,
      ./images/gallery/gallery-2304.jpg 2304w,
      ./images/gallery/gallery-2560.jpg 2560w,
      ./images/gallery/gallery-3840.jpg 3840w
    "
    sizes="(min-width: 1200px) 1200px, (min-width: 768px) 768px, (min-width: 480px) 480px, 100vw"
    src="./images/gallery/gallery-1280.jpg"
    alt="Ice-cream gallery"
  />
  <div class="container">
    <div class="gallery-grid">
      <!-- Picture 1 -->

      <div class="gallery-grid__item gallery-grid__item--1">
        <a href="#" class="gallery-grid__link link"
          ><picture>
            <source
              srcset="
                ./images/gallery/pic-1-desk@1x.webp 1x,
                ./images/gallery/pic-1-desk@2x.webp 2x,
                ./images/gallery/pic-1-desk@3x.webp 3x
              "
              media="(min-width: 1200px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/gallery/pic-1-desk@1x.jpg 1x,
                ./images/gallery/pic-1-desk@2x.jpg 2x,
                ./images/gallery/pic-1-desk@3x.jpg 3x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/gallery/pic-1-desk@1x.webp 1x,
                ./images/gallery/pic-1-desk@2x.webp 2x,
                ./images/gallery/pic-1-desk@3x.webp 3x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/gallery/pic-1-tab@1x.jpg 1x,
                ./images/gallery/pic-1-tab@2x.jpg 2x,
                ./images/gallery/pic-1-tab@3x.jpg 3x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/gallery/pic-1-tab@1x.webp 1x,
                ./images/gallery/pic-1-tab@2x.webp 2x,
                ./images/gallery/pic-1-tab@3x.webp 3x
              "
              media="(min-width: 480px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/gallery/pic-1-mob@1x.jpg 1x,
                ./images/gallery/pic-1-mob@2x.jpg 2x,
                ./images/gallery/pic-1-tab@2x.jpg 3x
              "
              media="(min-width: 480px)"
            />
            <img
              class="gallery-grid__img"
              src="./images/gallery/pic-1-desk@1x.jpg"
              alt="pistachio kulfi on a plate"
              width="40"
              height="40"
            />
          </picture>
        </a>
      </div>

      <!-- Picture 2 -->

      <div class="gallery-grid__item gallery-grid__item--2">
        <a href="#" class="gallery-grid__link link"
          ><picture>
            <source
              srcset="
                ./images/gallery/pic-2-desk@1x.webp 1x,
                ./images/gallery/pic-2-desk@2x.webp 2x,
                ./images/gallery/pic-2-desk@3x.webp 3x
              "
              media="(min-width: 1200px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/gallery/pic-2-desk@1x.jpg 1x,
                ./images/gallery/pic-2-desk@2x.jpg 2x,
                ./images/gallery/pic-2-desk@3x.jpg 3x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/gallery/pic-2-tab@1x.webp 1x,
                ./images/gallery/pic-2-tab@2x.webp 2x,
                ./images/gallery/pic-2-tab@3x.webp 3x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/gallery/pic-2-tab@1x.jpg 1x,
                ./images/gallery/pic-2-tab@2x.jpg 2x,
                ./images/gallery/pic-2-tab@3x.jpg 3x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/gallery/pic-2-mob@1x.webp 1x,
                ./images/gallery/pic-2-mob@2x.webp 2x,
                ./images/gallery/pic-2-tab@2x.webp 3x
              "
              media="(min-width: 480px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/gallery/pic-2-mob@1x.jpg 1x,
                ./images/gallery/pic-2-mob@2x.jpg 2x,
                ./images/gallery/pic-2-tab@2x.jpg 3x
              "
              media="(min-width: 480px)"
            />
            <img
              class="gallery-grid__img"
              src="./images/gallery/pic-2-desk@1x.jpg"
              alt="ice-cream in a waffle cone"
              width="40"
              height="40"
            />
          </picture>
        </a>
      </div>

      <!-- Picture 3 -->

      <div class="gallery-grid__item gallery-grid__item--3">
        <a href="#" class="gallery-grid__link link"
          ><picture>
            <source
              srcset="
                ./images/gallery/pic-3-desk@1x.webp 1x,
                ./images/gallery/pic-3-desk@2x.webp 2x,
                ./images/gallery/pic-3-desk@3x.webp 3x
              "
              media="(min-width: 1200px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/gallery/pic-3-desk@1x.jpg 1x,
                ./images/gallery/pic-3-desk@2x.jpg 2x,
                ./images/gallery/pic-3-desk@3x.jpg 3x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/gallery/pic-3-tab@1x.webp 1x,
                ./images/gallery/pic-3-tab@2x.webp 2x,
                ./images/gallery/pic-3-tab@3x.webp 3x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/gallery/pic-3-tab@1x.jpg 1x,
                ./images/gallery/pic-3-tab@2x.jpg 2x,
                ./images/gallery/pic-3-tab@3x.jpg 3x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/gallery/pic-3-mob@1x.webp 1x,
                ./images/gallery/pic-3-mob@2x.webp 2x,
                ./images/gallery/pic-3-tab@2x.webp 3x
              "
              media="(min-width: 480px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/gallery/pic-3-mob@1x.jpg 1x,
                ./images/gallery/pic-3-mob@2x.jpg 2x,
                ./images/gallery/pic-3-tab@2x.jpg 3x
              "
              media="(min-width: 480px)"
            />
            <img
              class="gallery-grid__img"
              src="./images/gallery/pic-3-desk@1x.jpg"
              alt="raspberry ice-cream sticks"
              width="40"
              height="40"
            />
          </picture>
        </a>
      </div>

      <!-- Picture 4 -->

      <div class="gallery-grid__item gallery-grid__item--4">
        <a href="#" class="gallery-grid__link link"
          ><picture>
            <source
              srcset="
                ./images/gallery/pic-4-desk@1x.webp 1x,
                ./images/gallery/pic-4-desk@2x.webp 2x,
                ./images/gallery/pic-4-desk@3x.webp 3x
              "
              media="(min-width: 1200px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/gallery/pic-4-desk@1x.jpg 1x,
                ./images/gallery/pic-4-desk@2x.jpg 2x,
                ./images/gallery/pic-4-desk@3x.jpg 3x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/gallery/pic-4-tab@1x.webp 1x,
                ./images/gallery/pic-4-tab@2x.webp 2x,
                ./images/gallery/pic-4-tab@3x.webp 3x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/gallery/pic-4-tab@1x.jpg 1x,
                ./images/gallery/pic-4-tab@2x.jpg 2x,
                ./images/gallery/pic-4-tab@3x.jpg 3x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/gallery/pic-4-mob@1x.webp 1x,
                ./images/gallery/pic-4-mob@2x.webp 2x,
                ./images/gallery/pic-4-tab@2x.webp 3x
              "
              media="(min-width: 480px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/gallery/pic-4-mob@1x.jpg 1x,
                ./images/gallery/pic-4-mob@2x.jpg 2x,
                ./images/gallery/pic-4-tab@2x.jpg 3x
              "
              media="(min-width: 480px)"
            />
            <img
              class="gallery-grid__img gallery-grid__img--big"
              src="./images/gallery/pic-4-desk@1x.jpg"
              alt="waffle cones with ice-cream and blackberries"
              width="80"
              height="80"
            />
          </picture>
        </a>
      </div>

      <!-- Picture 5 -->

      <div class="gallery-grid__item gallery-grid__item--5">
        <a href="#" class="gallery-grid__link link"
          ><picture>
            <source
              srcset="
                ./images/gallery/pic-5-desk@1x.webp 1x,
                ./images/gallery/pic-5-desk@2x.webp 2x,
                ./images/gallery/pic-5-desk@3x.webp 3x
              "
              media="(min-width: 1200px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/gallery/pic-5-desk@1x.jpg 1x,
                ./images/gallery/pic-5-desk@2x.jpg 2x,
                ./images/gallery/pic-5-desk@3x.jpg 3x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/gallery/pic-5-tab@1x.webp 1x,
                ./images/gallery/pic-5-tab@2x.webp 2x,
                ./images/gallery/pic-5-tab@3x.webp 3x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/gallery/pic-5-tab@1x.jpg 1x,
                ./images/gallery/pic-5-tab@2x.jpg 2x,
                ./images/gallery/pic-5-tab@3x.jpg 3x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/gallery/pic-5-mob@1x.webp 1x,
                ./images/gallery/pic-5-mob@2x.webp 2x,
                ./images/gallery/pic-5-tab@2x.webp 3x
              "
              media="(min-width: 480px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/gallery/pic-5-mob@1x.jpg 1x,
                ./images/gallery/pic-5-mob@2x.jpg 2x,
                ./images/gallery/pic-5-tab@2x.jpg 3x
              "
              media="(min-width: 480px)"
            />
            <img
              class="gallery-grid__img"
              src="./images/gallery/pic-5-desk@1x.jpg"
              alt="smiling girl with ice-cream cone"
              width="40"
              height="40"
            />
          </picture>
        </a>
      </div>

      <!-- Picture 6 -->

      <div class="gallery-grid__item gallery-grid__item--6">
        <a href="#" class="gallery-grid__link link"
          ><picture>
            <source
              srcset="
                ./images/gallery/pic-6-desk@1x.webp 1x,
                ./images/gallery/pic-6-desk@2x.webp 2x,
                ./images/gallery/pic-6-desk@3x.webp 3x
              "
              media="(min-width: 1200px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/gallery/pic-6-desk@1x.jpg 1x,
                ./images/gallery/pic-6-desk@2x.jpg 2x,
                ./images/gallery/pic-6-desk@3x.jpg 3x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/gallery/pic-6-tab@1x.webp 1x,
                ./images/gallery/pic-6-tab@2x.webp 2x,
                ./images/gallery/pic-6-tab@3x.webp 3x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/gallery/pic-6-tab@1x.jpg 1x,
                ./images/gallery/pic-6-tab@2x.jpg 2x,
                ./images/gallery/pic-6-tab@3x.jpg 3x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/gallery/pic-6-mob@1x.webp 1x,
                ./images/gallery/pic-6-mob@2x.webp 2x,
                ./images/gallery/pic-6-tab@2x.webp 3x
              "
              media="(min-width: 480px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/gallery/pic-6-mob@1x.jpg 1x,
                ./images/gallery/pic-6-mob@2x.jpg 2x,
                ./images/gallery/pic-6-tab@2x.jpg 3x
              "
              media="(min-width: 480px)"
            />
            <img
              class="gallery-grid__img"
              src="./images/gallery/pic-6-desk@1x.jpg"
              alt="ice-cream with fresh fruits and berries"
              width="40"
              height="40"
            />
          </picture>
        </a>
      </div>

      <!-- Picture 7 -->

      <div class="gallery-grid__item gallery-grid__item--7">
        <a href="#" class="gallery-grid__link link"
          ><picture>
            <source
              srcset="
                ./images/gallery/pic-7-desk@1x.webp 1x,
                ./images/gallery/pic-7-desk@2x.webp 2x,
                ./images/gallery/pic-7-desk@3x.webp 3x
              "
              media="(min-width: 1200px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/gallery/pic-7-desk@1x.jpg 1x,
                ./images/gallery/pic-7-desk@2x.jpg 2x,
                ./images/gallery/pic-7-desk@3x.jpg 3x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/gallery/pic-7-tab@1x.webp 1x,
                ./images/gallery/pic-7-tab@2x.webp 2x,
                ./images/gallery/pic-7-tab@3x.webp 3x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/gallery/pic-7-tab@1x.jpg 1x,
                ./images/gallery/pic-7-tab@2x.jpg 2x,
                ./images/gallery/pic-7-tab@3x.jpg 3x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/gallery/pic-7-mob@1x.webp 1x,
                ./images/gallery/pic-7-mob@2x.webp 2x,
                ./images/gallery/pic-7-tab@2x.webp 3x
              "
              media="(min-width: 480px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/gallery/pic-7-mob@1x.jpg 1x,
                ./images/gallery/pic-7-mob@2x.jpg 2x,
                ./images/gallery/pic-7-tab@2x.jpg 3x
              "
              media="(min-width: 480px)"
            />
            <img
              class="gallery-grid__img"
              src="./images/gallery/pic-7-desk@1x.jpg"
              alt="ice-cream in a waffle cone with a star"
              width="40"
              height="40"
            />
          </picture>
        </a>
      </div>

      <!-- Picture 8 -->

      <div class="gallery-grid__item gallery-grid__item--8">
        <a href="#" class="gallery-grid__link link"
          ><picture>
            <source
              srcset="
                ./images/gallery/pic-8-desk@1x.webp 1x,
                ./images/gallery/pic-8-desk@2x.webp 2x,
                ./images/gallery/pic-8-desk@3x.webp 3x
              "
              media="(min-width: 1200px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/gallery/pic-8-desk@1x.jpg 1x,
                ./images/gallery/pic-8-desk@2x.jpg 2x,
                ./images/gallery/pic-8-desk@3x.jpg 3x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/gallery/pic-8-tab@1x.webp 1x,
                ./images/gallery/pic-8-tab@2x.webp 2x,
                ./images/gallery/pic-8-tab@3x.webp 3x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/gallery/pic-8-tab@1x.jpg 1x,
                ./images/gallery/pic-8-tab@2x.jpg 2x,
                ./images/gallery/pic-8-tab@3x.jpg 3x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/gallery/pic-8-mob@1x.webp 1x,
                ./images/gallery/pic-8-mob@2x.webp 2x,
                ./images/gallery/pic-8-tab@2x.webp 3x
              "
              media="(min-width: 480px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/gallery/pic-8-mob@1x.jpg 1x,
                ./images/gallery/pic-8-mob@2x.jpg 2x,
                ./images/gallery/pic-8-tab@2x.jpg 3x
              "
              media="(min-width: 480px)"
            />
            <img
              class="gallery-grid__img"
              src="./images/gallery/pic-8-desk@1x.jpg"
              alt="dog licking ice-cream in a waffle cone"
              width="40"
              height="40"
            />
          </picture>
        </a>
      </div>

      <!-- Picture 9 -->

      <div class="gallery-grid__item gallery-grid__item--9">
        <a href="#" class="gallery-grid__link link"
          ><picture>
            <source
              srcset="
                ./images/gallery/pic-9-desk@1x.webp 1x,
                ./images/gallery/pic-9-desk@2x.webp 2x,
                ./images/gallery/pic-9-desk@3x.webp 3x
              "
              media="(min-width: 1200px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/gallery/pic-9-desk@1x.jpg 1x,
                ./images/gallery/pic-9-desk@2x.jpg 2x,
                ./images/gallery/pic-9-desk@3x.jpg 3x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/gallery/pic-9-tab@1x.webp 1x,
                ./images/gallery/pic-9-tab@2x.webp 2x,
                ./images/gallery/pic-9-tab@3x.webp 3x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/gallery/pic-9-tab@1x.jpg 1x,
                ./images/gallery/pic-9-tab@2x.jpg 2x,
                ./images/gallery/pic-9-tab@3x.jpg 3x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/gallery/pic-9-mob@1x.webp 1x,
                ./images/gallery/pic-9-mob@2x.webp 2x,
                ./images/gallery/pic-9-tab@2x.webp 3x
              "
              media="(min-width: 480px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/gallery/pic-9-mob@1x.jpg 1x,
                ./images/gallery/pic-9-mob@2x.jpg 2x,
                ./images/gallery/pic-9-tab@2x.jpg 3x
              "
              media="(min-width: 480px)"
            />
            <img
              class="gallery-grid__img"
              src="./images/gallery/pic-9-desk@1x.jpg"
              alt="ice-coffee in a glass"
              width="40"
              height="40"
            />
          </picture>
        </a>
      </div>

      <!-- Picture 10 -->

      <div class="gallery-grid__item gallery-grid__item--10">
        <a href="#" class="gallery-grid__link link"
          ><picture>
            <source
              srcset="
                ./images/gallery/pic-10-desk@1x.webp 1x,
                ./images/gallery/pic-10-desk@2x.webp 2x,
                ./images/gallery/pic-10-desk@3x.webp 3x
              "
              media="(min-width: 1200px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/gallery/pic-10-desk@1x.jpg 1x,
                ./images/gallery/pic-10-desk@2x.jpg 2x,
                ./images/gallery/pic-10-desk@3x.jpg 3x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/gallery/pic-10-tab@1x.webp 1x,
                ./images/gallery/pic-10-tab@2x.webp 2x,
                ./images/gallery/pic-10-tab@3x.webp 3x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/gallery/pic-10-tab@1x.jpg 1x,
                ./images/gallery/pic-10-tab@2x.jpg 2x,
                ./images/gallery/pic-10-tab@3x.jpg 3x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/gallery/pic-10-mob@1x.webp 1x,
                ./images/gallery/pic-10-mob@2x.webp 2x,
                ./images/gallery/pic-10-tab@2x.webp 3x
              "
              media="(min-width: 480px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/gallery/pic-10-mob@1x.jpg 1x,
                ./images/gallery/pic-10-mob@2x.jpg 2x,
                ./images/gallery/pic-10-tab@2x.jpg 3x
              "
              media="(min-width: 480px)"
            />
            <img
              class="gallery-grid__img"
              src="./images/gallery/pic-10-desk@1x.jpg"
              alt="donut with ice-cream on a glass of milk"
              width="40"
              height="40"
            />
          </picture>
        </a>
      </div>
    </div>
  </div>
</section>
