<header class="section header" id="top">
  <div class="container header__container">
    <nav class="header__nav">
      <a href="./index.html" class="link header-logo__link">
        <span class="header-logo__box">
          <svg class="header-logo__icon animate__flip" width="50" height="50">
            <use href="./images/icons.svg#icon-logo"></use>
          </svg>
          <span class="header-logo__text">Icecream</span>
        </span>
      </a>
      <ul class="list header__list">
        <li class="header__item">
          <a href="./index.html" class="link header__link">Home</a>
        </li>
        <li class="header__item">
          <a href="#reviews" class="link header__link">About us</a>
        </li>
        <li class="header__item">
          <a href="#about" class="link header__link">How it&#8242;s made&#63;</a>
        </li>
        <li class="header__item">
          <a href="#products" class="link header__link">Our products</a>
        </li>
        <li class="header__item">
          <a href="#contacts" class="link header__link">Contact</a>
        </li>
      </ul>
    </nav>

    <button
      type="button"
      class="burger burger__header js-open-menu"
      aria-label="Mobile menu opener"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg class="burger__icon menu-icon" width="20" height="12">
        <use href="./images/icons.svg#icon-burger"></use>
      </svg>
    </button>
    <button
      type="button"
      class="promo-button promo-button__header button"
      aria-label="Menu button"
      data-modal-open1
    >
      <span class="promo-button__text">Buy now</span>
      <svg class="promo-button__icon" width="4" height="8">
        <use href="./images/icons.svg#icon-arrow"></use>
      </svg>
    </button>
  </div>
</header>
