<div class="mob-menu js-menu-container mob-menu-container" id="mobile-menu">
  <div class="conteiner-mob">
    <button
      type="button"
      class="mob-menu__close-btn js-close-menu menu-toggle-close"
      aria-label="Mobile menu closer"
    >
      <svg class="mob-menu__close-icon" width="14" height="14">
        <use href="./images/icons.svg#close-menu"></use>
      </svg>
    </button>
    <button
      type="button"
      class="mob-menu__btn button js-close-menuA"
      data-modal-open2
      aria-label="Mobile menu close"
    >
      Buy now
      <svg class="mob-menu__btn-icon" width="4" height="8">
        <use href="./images/icons.svg#icon-arrow"></use>
      </svg>
    </button>
    <ul class="list mob-menu__list">
      <li class="mob-menu__item"><a class="mob-menu__link" href="#">Home</a></li>
      <li class="mob-menu__item"><a class="mob-menu__link" href="#advantages">About us</a></li>
      <li class="mob-menu__item">
        <a class="mob-menu__link" href="#about">How it&#8242;s made&#63;</a>
      </li>
      <li class="mob-menu__item"><a class="mob-menu__link" href="#products">Our products</a></li>
      <li class="mob-menu__item"><a class="mob-menu__link" href="#contacts">Contact</a></li>
    </ul>
  </div>
</div>
