<div class="backdrop backdrop--dark is-hidden" data-modal-location>
  <div class="modal-location">
    <button
      type="button"
      class="modal__close"
      aria-label="Location button"
      data-modal-location-close
    >
      <svg class="modal-location__icon modal__icon" width="18" height="18">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <p class="modal-location__title">Our office</p>
    <p class="modal-location__text">20 W 34th St, New York, NY 10001,</p>
    <p class="modal-location__text">The United States of America</p>
    <iframe
      class="modal-location__map"
      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d193595.1584503477!2d-74.119764!3d40.6976637!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259a9b3117469%3A0xd134e199a405a163!2z0K3QvNC_0LDQudGALdGB0YLQtdC50YIt0LHQuNC70LTQuNC90LM!5e0!3m2!1sru!2sua!4v1645627253100!5m2!1sru!2sua"
      width="600"
      height="450"
      allowfullscreen=""
      loading="lazy"
    ></iframe>
  </div>
</div>
