<section class="section products" id="products">
  <div class="container">
    <p class="products__pre-title">100% natural</p>
    <h2 class="products__title">products</h2>
    <ul class="products-list list">
      <li class="products-list__item">
        <h3 class="products-list__name">ice cream</h3>
        <input type="checkbox" id="read-icecream" hidden />
        <p class="products-list__discription">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <p class="prod-icecream products-list__discription">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas sed nihil provident corporis
          cumnumquam accusamus. Dignissimos, dolores vitae voluptate, quam, neque provident impedit
          suscipit molestiae facilis dolorum fugit deleniti.
        </p>
        <label for="read-icecream" class="read-icecream btn-arrow">
          <svg class="arrow-right" width="40" height="40">
            <use href="./images/icons.svg#icon-arrow-right"></use>
          </svg>
        </label>
      </li>
      <li class="products-list__item">
        <h3 class="products-list__name">ice coffee</h3>
        <input type="checkbox" id="read-icecoffee" hidden />
        <p class="products-list__discription">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <p class="prod-icecoffee products-list__discription">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas sed nihil provident corporis
          cumnumquam accusamus. Dignissimos, dolores vitae voluptate, quam, neque provident impedit
          suscipit molestiae facilis dolorum fugit deleniti.
        </p>
        <label for="read-icecoffee" class="read-icecoffee btn-arrow">
          <svg class="arrow-right" width="12" height="12">
            <use href="./images/icons.svg#icon-arrow-right"></use>
          </svg>
        </label>
      </li>
      <li class="products-list__item">
        <h3 class="products-list__name">milkshakes</h3>
        <input type="checkbox" id="read-milkshakes" hidden />
        <p class="products-list__discription">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <p class="prod-milkshakes products-list__discription">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas sed nihil provident corporis
          cumnumquam accusamus. Dignissimos, dolores vitae voluptate, quam, neque provident impedit
          suscipit molestiae facilis dolorum fugit deleniti.
        </p>
        <label for="read-milkshakes" class="read-milkshakes btn-arrow">
          <svg class="arrow-right" width="12" height="12">
            <use href="./images/icons.svg#icon-arrow-right"></use>
          </svg>
        </label>
      </li>
    </ul>
  </div>
</section>
