<section class="rewiews" id="reviews">
  <h2 class="visually-hidden" aria-label="Customer Reviews">Customer Reviews</h2>
  <div class="container">
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="swiper-slide__photo">
            <picture>
              <source
                srcset="
                  ./images/rewiews/rewiews-emily-1x.jpg 1x,
                  ./images/rewiews/rewiews-emily-2x.jpg 2x
                "
                media="(min-width: 50px)"
              />
              <img src="./images/rewiews/rewiews-emily-1x.jpg" alt="emily" width="85" height="85" />
            </picture>
          </div>
          <div class="swiper-slide__post">
            <div class="swiper-slide__gradient">
              <p class="swiper-slide__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
          </div>
          <h3 class="swiper-slide__name list">Emily, Los Angeles</h3>
        </div>
        <div class="swiper-slide">
          <div class="swiper-slide__photo">
            <picture>
              <source
                srcset="
                  ./images/rewiews/rewiews-mary-1x.jpg 1x,
                  ./images/rewiews/rewiews-mary-2x.jpg 2x
                "
                media="(min-width: 50px)"
              />
              <img src="./images/rewiews/rewiews-mary-1x.jpg" alt="mary" width="85" height="85" />
            </picture>
          </div>
          <div class="swiper-slide__post">
            <div class="swiper-slide__gradient">
              <p class="swiper-slide__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
          </div>
          <h3 class="swiper-slide__name list">Mary, Chicago</h3>
        </div>
        <div class="swiper-slide">
          <div class="swiper-slide__photo">
            <picture>
              <source
                srcset="
                  ./images/rewiews/rewiews-jesi-1x.jpg 1x,
                  ./images/rewiews/rewiews-jesi-2x.jpg 2x
                "
                media="(min-width: 50px)"
              />
              <img src="./images/rewiews/rewiews-jesi-1x.jpg" alt="jesi" width="85" height="85" />
            </picture>
          </div>
          <div class="swiper-slide__post">
            <div class="swiper-slide__gradient">
              <p class="swiper-slide__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
          </div>
          <h3 class="swiper-slide__name list">Jesi, New York</h3>
        </div>
      </div>

      <div class="swiper-pagination">
        <span class="swiper-pagination-bullet"></span>
        <span class="swiper-pagination-bullet"></span>
        <span class="swiper-pagination-bullet"></span>
      </div>
    </div>
  </div>
</section>
