.gallery__image {
  display: block;
  margin-left: auto;
  margin-right: auto;

  @include minMedia($mob) {
    display: none;
  }
}

.section.gallery {
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: linear-gradient(to bottom, #fff5f6 43%, #ffffff 43%);

  @include minMedia($tab) {
    padding-top: 70px;
    padding-bottom: 61px;
  }

  @include minMedia($tab) {
    padding-top: 69px;
    padding-bottom: 62px;
  }
}

.gallery .container {
  display: none;

  @include minMedia($mob) {
    display: block;
  }

  @include minMedia($mob) {
    padding-left: 48px;
    padding-right: 48px;
  }

  @include minMedia($tab) {
    padding-left: 73px;
    padding-right: 73px;
  }

  @include minMedia($desk) {
    padding-left: 133px;
    padding-right: 133px;
  }
}

.gallery-grid {
  display: block;
  width: 292px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(7, 40px);
  grid-template-rows: repeat(9, 12px);
  grid-gap: 2px;

  @include minMedia($mob) {
    width: 384px;
    grid-template-columns: repeat(7, 52px);
    grid-template-rows: repeat(9, 15px);
    grid-gap: 3px;
  }

  @include minMedia($tab) {
    width: 626px;
    grid-template-columns: repeat(7, 86px);
    grid-template-rows: repeat(9, 26px);
    grid-gap: 4px;
  }

  @include minMedia($desk) {
    width: 1015px;
    grid-template-columns: repeat(7, 139px);
    grid-template-rows: repeat(9, 42px);
    grid-gap: 7px;
  }
}

.gallery-grid__item {
  position: relative;
}

.gallery-grid__item--1 {
  grid-row: 4 / 7;
}

.gallery-grid__item--2 {
  grid-column: 2;
  grid-row: 3 / 6;
}

.gallery-grid__item--3 {
  grid-column: 2;
  grid-row: 6 / 9;
}

.gallery-grid__item--4 {
  grid-column: 3 / 5;
  grid-row: 1 / 7;
}

.gallery-grid__item--5 {
  grid-column: 3;
  grid-row: 7 / 10;
}

.gallery-grid__item--6 {
  grid-column: 5;
  grid-row: 3 / 6;
}

.gallery-grid__item--7 {
  grid-column: 5;
  grid-row: 6 / 9;
}

.gallery-grid__item--8 {
  grid-column: 6;
  grid-row: 2 / 5;
}

.gallery-grid__item--9 {
  grid-column: 6;
  grid-row: 5 / 8;
}

.gallery-grid__item--10 {
  grid-column: 7;
  grid-row: 4 / 7;
}

.gallery-grid__img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 15%;
  transform: scale(1);
  transition: $gallery-effect;
  z-index: 0;

  .gallery-grid__link:hover & {
    transform: scale(1.5);
    position: absolute;
    z-index: 1;
  }

  .gallery-grid__link:hover &--big {
    transform: scale(1.2);
  }
}
